<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png"alt="" style="height:54px ;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  style="font-size: large;" (click)="login()">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="create()" style="font-size: large;">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="manageCampaign()" style="font-size: large;">Manage campaign</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  style="font-size: large;">Sign Out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="bg-image"></div>

<div class="category">
    <h2>Medical Emergencies</h2><a href="#" class="viewAll" style="margin-right: 328px;">View All <svg
            aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right"
            class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512" style="width: 16px; height: 24px;">
            <path fill="currentColor"
                d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
            </path>
        </svg></a>
</div>




<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Medium</mat-card-subtitle>
                        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Image of a Shiba Inu">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    {{longText}}
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Medium</mat-card-subtitle>
                        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Image of a Shiba Inu">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    {{longText}}
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Medium</mat-card-subtitle>
                        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                            alt="Image of a Shiba Inu">
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    {{longText}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="category">
    <h2>How it Works</h2>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="For Donors" class="tab">
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="For NGO'S" class="tab">
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>



<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Celebraties" class="tab">
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Donors" class="tab">
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="NGO'S" class="tab">
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-4">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Medium</mat-card-subtitle>
                                <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                    alt="Image of a Shiba Inu">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            {{longText}}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>


<div class="category">
    <h2>Featured In</h2>
</div>
<div class="awards" style="margin-left: 290px;">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
</div>

<div class="category">
    <h2>Awards</h2>
</div>
<div class="awards" style="margin-left: 290px;">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
    <img src="../../assets/images/img.webp" alt="">
</div>
<app-footer></app-footer>>
